@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --pry-color: #000000;
    --bg-clr: #f8f9fa;
    --main-clr: #fff;
    --tet-clr: #333;
    --txt-clr: #F5F5DC;
    --pry-ff: "Poppins", sans-serif;
    --sec-ff: "Josefin Sans", sans-serif;
    --btn-clr: #C0C0C0;
    --att-clr: #F2C14E;
}

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items to the top */
    height: 100vh; /* Full viewport height */
    background-image: url('../imgs/background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main-container .desktop {
    width: 100%;
    max-width: 10em;
    height: 100%;
    border: 1px solid var(--back-clr);
    background: transparent;
    display: flex;
    flex-direction: column;
    padding: 1em;
    position: relative;
    overflow: visible; /* Ensure sub-menu isn't clipped */
}

/* Blur effect on the desktop background */
.desktop::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.2); /* Adjust transparency */
    backdrop-filter: blur(1px); /* Apply blur effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    z-index: 0; 
}

/* Content inside the desktop should stay clear and on top */
.desktop * {
    position: relative;
    z-index: 1; /* Bring content in front of the blurred background */
}

.desktop .img-box {
    text-align: left;
    margin-bottom: 1em;
}

.desktop .img-box img {
    width: 4em; /* Adjust size as needed */
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.desktop ul {
    list-style-type: none;
    padding: 0;
}

.desktop ul li {
    position: relative; /* For absolute positioning of sub-menus */
}

.desktop ul li a {
    text-decoration: none;
    color: var(--txt-clr);
    font-size: 1rem;
    font-family: var(--pry-ff);
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em;
    border-radius: 4px; /* Optional: rounded corners */
    width: 100%; /* Ensure links span the full width */
}

.desktop ul li a span {
    margin-left: 0.5em; /* Space between icon and text */
}

.desktop ul li a:hover {
    background-color: var(--pry-color); /* Background color on hover */
    color: var(--main-clr); /* Adjust hover text color */
}

/* Styling for the sub-menu */
.desktop ul li ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 80%;
    background-color: var(--main-clr);
    border: 1px solid var(--main-clr);
    display: none;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0.5em;
    z-index: 1000;
    /* Ensure it is on top of other content */
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
}

/* Show the sub-menu when the parent is hovered */
.desktop ul li:hover>ul {
    display: block;
    /* Show sub-menu on hover */
}

.desktop ul li ul li {
    margin: 0;
}

.desktop ul li ul li a {
    padding: 0.5em 1em;
    font-size: 0.8rem;
    font-family: var(--pry-ff);
    color: var(--tet-clr);
}

.desktop ul li ul li a:hover {
    background-color: var(--pry-color);
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    color: var(--main-clr);
}

.main-container article {
    width: 100%;
    padding: 1em;
    border: 1px solid var(--main-clr);
    height: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: grid;
    place-items: left;
}

.main-container article::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 0;
}

.main-container article * {
    position: relative;
    z-index: 1; /* Bring content in front of the blurred background */
}

article .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 1em;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: fit-content;
    position: sticky;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}

article .logo-box {
    width: 100%;
    max-width: 10em;
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
}

.logo-box a {
    text-decoration: none;
    color: var(--tet-clr);
    font-family: var(--pry-ff);
    font-size: 1.5rem;
    font-weight: 700;
}

article .search-box {
    width: 100%;
    max-width: 50%;
    height: fit-content;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}

.search-box input[type=search] {
    width: 100%;
    padding: 0.5em;
    font-size: 1rem;
    font-family: var(--pry-ff);
    border: 0;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    background: transparent;
    caret-color: var(--txt-clr);
}

.search-box input[type=search]::placeholder {
    color: var(--txt-clr);
}

.search-box input[type=search]:focus {
    outline: none;
}

.search-box .search-btn {
    width: 3em;
    aspect-ratio: 1/1;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    border: none;
    outline: 0;
    background: transparent;
    color: var(--txt-clr);
}

article .article {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding-left: 7em;
}

article .sub-box {
    width: 100%;
    max-width: 40em;
    border: 1px solid white;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 1em;
}

article .sub-box h2 {
    font-family: var(--pry-ff);
    font-size: 2rem;
    color: var(--pry-color);
    text-align: left;
}

.sub-box p {
    color: var(--main-clr);
    font-size: 1.2rem;
    color: var(--att-clr);
    font-weight: 700;
}

.sub-box span {
    color: var(--main-clr);
}

.sub-box .semi-box {
    width: fit-content;
    border: 1px solid white;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 0.2em;
}

.semi-box button {
    width: 7em;
    height: 2.5em;
    font-size: 1rem;
}

.semi-box button:nth-child(1) {
    background-color: var(--pry-color);
    color: var(--main-clr);
    border: 0;
    outline: none;
    transition: all 600ms;
    -webkit-transition: all 600ms;
    -moz-transition: all 600ms;
    -ms-transition: all 600ms;
    -o-transition: all 600ms;
}

.semi-box button:nth-child(1):hover {
    background-color: var(--main-clr);
    color: var(--pry-color);
    border: 1px solid var(--pry-color);
    cursor: pointer;
}

.semi-box button:nth-child(2) {
    background: transparent;
    color: var(--main-clr);
    border: 1px solid var(--main-clr);
    transition: all 600ms;
    -webkit-transition: all 600ms;
    -moz-transition: all 600ms;
    -ms-transition: all 600ms;
    -o-transition: all 600ms;
}

.semi-box button:nth-child(2):hover {
    background-color: var(--pry-color);
    color: var(--main-clr);
    cursor: pointer;
}

.semi-box p {
    color: var(--main-clr);
    font-size: 0.9rem;
    color: var(--att-clr);
    font-weight: 500;
    font-family: var(--pry-ff);
}